
@{
    ViewBag.Title = "XacNhanDangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Đơn hàng của quý khách chúng tôi đã tiếp nhận. Chúng tôi sẽ liện hệ sớm để giao hàng hàng cho quý khách
    <a href="@Url.Action("Index","BikeShop")"> Về trang chủ </a>

</h2>

